@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");
.navbar {
  position: relative;
  z-index: 5 !important;
}
.bg-dark {
  background-color: #0059ff !important;
}
.text-white {
  font-family: "Poppins", sans-serif !important;
}
.text-white:hover {
  color: #3ad29f !important;
  text-decoration: none !important;
}
.marginTop-c {
  margin-top: 10rem;
}
.heading__h1 {
  font-size: 4rem;
}
.heading__p {
  font-size: 1.3rem;
}
.img-movie {
  width: 17%;
  transform: translate(370%, 30%);
}
.form-control {
  width: 30%;
  height: 2.8rem;
  margin: -3% 0 0 27%;
  border-radius: 1rem;
}
.btn-block {
  width: 30%;
  height: 2.8rem;
  color: #3ad29f;
  margin: 1% 0 0 27%;
  border: 1px solid #3ad29f;
  border-radius: 1rem;
}
.search {
  color: #fff;
  background-color: #3ad29f;
}
.search:hover {
  color: #fff;
  background-color: #3fbe94;
}

.more-info:hover {
  color: #fff;
  background-color: #3ad29f;
  border-color: #3ad29f;
}
.container-fluid {
  z-index: 10 !important;
  margin: 3% 0 0 -5%;
}
.search__movie__wrapper {
  position: relative;
}
#main-card {
  position: absolute;
  padding-top: 10rem;
  padding-left: 1.3rem;
  display: grid;
  width: 550px;
  grid-template-columns: 650px 650px 650px;
}
.main-card {
  width: 100%;
  position: absolute;
  padding-top: 10rem;
  padding-left: 1.3rem;
}

.more__wrapper {
  margin-top: 6rem;
}
.more__info {
  border-bottom: 2px solid #fff;
}
.card-title {
  font-size: 1.7rem;
}
.title {
  font-size: 1.2rem;
}
.card-text {
  font-size: 0.9rem;
}
.display-5 {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.2;
}
.c-title {
  font-size: 2.8rem !important;
  margin-top: 6rem !important;
  font-weight: 300;
  line-height: 1.2;
  border-bottom: 2px solid #fff;
}
.c-marginTop {
  margin-top: 5rem;
}
.white {
  color: white;
}
.h-75 {
  height: 75% !important;
}
.heading {
  margin: 10rem 0 0 27%;
  color: #fff;
}
@media (max-width: 575px) {
  .heading {
    margin: 5rem 0 0 6%;
  }
  .heading__h1 {
    font-size: 3rem;
  }
  .img-movie {
    display: none;
  }
  .form-control {
    width: 100%;
    margin: 10% 0 0 6%;
  }
  .btn-block {
    width: 100%;
    margin: 5% 0 0 6%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .heading {
    margin: 5rem 0 -15% 16%;
  }
  .heading__h1 {
    font-size: 3rem;
  }
  .img-movie {
    transform: translate(230%, 115%);
    width: 30%;
  }
  .form-control {
    width: 50%;
    margin: 10% 0 0 16%;
  }
  .btn-block {
    width: 50%;
    margin: 5% 0 0 16%;
  }
  .title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.6rem;
  }
  .more-info {
    font-size: 0.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .heading {
    margin: 5rem 0 -20% 16%;
  }
  .heading__h1 {
    font-size: 3rem;
  }
  .img-movie {
    transform: translate(230%, 115%);
    width: 30%;
  }
  .form-control {
    width: 50%;
    margin: 10% 0 0 16%;
  }
  .btn-block {
    width: 50%;
    margin: 5% 0 0 16%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img-movie {
    transform: translate(165%, 40%);
    width: 38%;
  }
  .form-control {
    width: 50%;
    margin: 0% 0 0 10%;
  }
  .btn-block {
    width: 50%;
    margin: 3% 0 0 10%;
  }
}
.news__card {
  margin-top: 3rem;
  /* width: 50%; */
}
