.navbar {
  position: relative;
  z-index: 5 !important;
}
.bg-primary {
  background: linear-gradient(110deg, #06bdd6, #0d58e1, #361ae7) !important;
}
.text-white:hover {
  color: #3ad29f !important;
  text-decoration: none !important;
}
.bg-header {
  background: url(./img/bg-shape.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1 !important;
}

.img-movie {
  width: 17%;
  transform: translate(370%, 85%);
}
.form-control {
  width: 30%;
  height: 2.8rem;
  margin: 3% 0 0 27%;
  border-radius: 1rem;
}
.btn-block {
  width: 30%;
  height: 2.8rem;
  color: #3ad29f;
  margin: 1% 0 0 27%;
  border: 1px solid #3ad29f;
  border-radius: 1rem;
}
.search:hover {
  color: #fff;
  background-color: #3ad29f;
  border-color: #3ad29f;
}
.more-info:hover {
  color: #fff;
  background-color: #3ad29f;
  border-color: #3ad29f;
}
.container-fluid {
  z-index: 10 !important;
  margin: 3% 0 0 -5%;
}
.search__movie__wrapper {
  position: relative;
}
#main-card {
  position: absolute;
  padding-top: 10rem;
  padding-left: 1.3rem;
  display: grid;
  width: 550px;
  grid-template-columns: 650px 650px 650px;
}
.main-card {
  width: 100%;
  position: absolute;
  padding-top: 10rem;
  padding-left: 1.3rem;
}

.more__wrapper {
  margin-top: 6rem;
}
.more__info {
  border-bottom: 2px solid #fff;
}
.card-title {
  font-size: 1.7rem;
}
.title {
  font-size: 1.2rem;
}
.card-text {
  font-size: 0.9rem;
}
.display-5 {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.2;
}
.c-title {
  font-size: 2.8rem !important;
  margin-top: 6rem !important;
  font-weight: 300;
  line-height: 1.2;
  border-bottom: 2px solid #fff;
}
.c-marginTop {
  margin-top: 5rem;
}
